<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.hoonio.ionic.pubcricket" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>PubCricket</name>
  <description>
        PubCricket in-car Android tablets using NFC cards
    </description>
  <author email="hoonio@hoonio.com" href="https://github.com/hoonio">
      Hoonio
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
